html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .container{
      width: 1200px;
      height: 100vh;
      background-color: antiquewhite;
      margin: 0 auto;
      text-align: center;
  }

  .containerGame{
      display: flex;
      justify-content: space-around;
  }

.elementContainer{
    display: flex;
    justify-content: center;
}

.elementContainer .img{
    
    margin: 0 0.3rem;
    padding: 1rem;
    border: 0.1rem solid rgba(132,94,194, 0.5);
    border-radius: 1rem;
}

.elementContainer .img i{
    font-size: 8rem;
}