html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    background-color: black;
  }
  body h1{
    font-family: 'Sarpanch', sans-serif;
    color: white;
  }


  .container{
      
      width: 1200px;
      height: 100vh;
      color: white;
      margin: 0 auto;
      text-align: center;
  }

  .containerGame{
      display: flex;
      justify-content: space-around;
  }

.elementContainer{
    display: flex;
    justify-content: center;
}

.elementContainer .img{
    
    margin: 0 0.7rem;
    padding: 1rem;
    border: 0.1rem solid white;
    border-radius: 1rem;
}

.elementContainer .img i{
    font-size: 8rem;
}

.marcador{
    display: flex;
    justify-content: space-around;
    font-family: 'Sarpanch', sans-serif;
}

.roundWin{
    font-family: 'Sarpanch', sans-serif;
}