html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    background-color: black;
    font-family: 'Sarpanch', sans-serif;
  }
  body h1{
    font-family: 'Sarpanch', sans-serif;
    color: white;
    margin: 0 0 1rem 0;
  }


  .container{
      
      max-width: 1200px;
      height: 100vh;
      color: white;
      margin: 0 auto;
      text-align: center;
  }

  .containerGame{
      display: flex;
      justify-content: space-around;
  }

.elementContainer{
    display: flex;
    justify-content: center;
}

.elementContainer .img{
    
    margin: 0 0.7rem;
    padding: 1rem;
    border: 0.1rem solid white;
    border-radius: 1rem;
}

.elementContainer .img i{
    font-size: 8rem;
}

.marcador{
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.roundWin{
    margin: 0;
}

.finalWinner{
  position: relative;
  width: 100%;
  height: 50px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 1rem;
}

.finalWinner h2{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttonContainer{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 0.5rem 0;
  border: 0.1rem solid white;
  border-radius: 1rem;
}

.hide{
  display: none;
}

footer{
  color: white;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: -2rem;
}